<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>753428645088-0hg26hle0alh7osi8a9qoch634kae97l.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwkLHbG5g4tMAnUu5RFuQsI7_ygDZ3ru8</string>
	<key>GCM_SENDER_ID</key>
	<string>753428645088</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.exchequer.app</string>
	<key>PROJECT_ID</key>
	<string>exchequer-app</string>
	<key>STORAGE_BUCKET</key>
	<string>exchequer-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:753428645088:ios:c78c6cb69106234aee3c85</string>
</dict>
</plist>